

  /* Select instructions */
  
  #instructions {
    text-align: center;
    padding: 15px 10px 15px 10px;
  }
  
  /* Variable title */
  
  #indicator {
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
    height: 40px;
    padding: 10px 10px 0px 10px;
  }
  
  
  .countryBox {
    display: flex;
    text-align: center;
    margin-top: 30px;;
    flex-direction: column;
    height: 120px;
  }
  
  .countryBox h3 {
    height: 18px;
  }
  /* Percentages List */
  
  .percentagesBox {
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
    height: 72px;
  }
  
  #percentagesList {
    height: 50px;
    padding-right: 8px;
    padding-left: 8px;
    word-wrap: break-word;
    padding-bottom: 2px;
    display: inline-block;
  }
  
  /* Legend */
  
  
  #legend {
    align-self: center;
    color: rgb(114, 109, 109);
  }

  #legend-title{
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }
  
  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-right: 15px;
    border: grey solid 1px;
    margin-left: 15px;
  }
  
  #data-information {
    font-size: 9px;
    text-align: left;
    padding: 8px 8px 0px 8px;
    line-height: 1;
    color: rgb(63, 60, 60);
  }
  
  /* Select Layers - Menu buttons */
  
  .select-menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
  }
