/* Body  */

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/**
  * Create a position for the map
  * on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 75%;
}

/**
  * Set rules for how the map overlays
  * (information box and legend) will be displayed
  * on the page. */

.map-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow: scroll;
}

/* WHO Title */

#title {
  background-color: #f2f2f2;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  height: 70px;
  box-sizing: border-box;
  font-size: 20px;
}

/* Select instructions */

#instructions {
  text-align: center;
  padding: 15px 10px 15px 10px;
}

/* Variable title */

#indicator {
  font-weight: 500;
  text-align: center;
  word-wrap: break-word;
  height: 40px;
  padding: 10px 10px 0px 10px;
}

/* Country-level information */

h3 {
  text-align: center;
  font-size: 16px;
  margin: 10px 0px 0px 0px;
}

p {
  text-align: center;
  margin: 10px;
}

.countryBox {
  display: flex;
  flex-direction: column;
  height: 120px;
}

.countryBox h3 {
  height: 18px;
}
/* Percentages List */

.percentagesBox {
  margin-bottom: 20px;
  align-self: center;
  height: 72px;
}

#percentagesList {
  height: 50px;
  padding-right: 8px;
  padding-left: 8px;
  word-wrap: break-word;
  padding-bottom: 2px;
  display: inline-block;
}

/* Legend */

#legend-block {
  display: flex;
  bottom: 0;
  flex-direction: column;
  bottom: 10px;
  line-height: 14px;
  width: 100%;
  flex-basis: 33%;
  margin-right: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
}

#legend {
  align-self: center;
  color: rgb(114, 109, 109);
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-right: 15px;
  border: grey solid 1px;
  margin-left: 15px;
}

#data-information {
  font-size: 10px;
  text-align: left;
  padding: 8px 8px 0px 8px;
  line-height: 1;
  color: rgb(63, 60, 60);
}

/* Select Layers - Menu buttons */

.select-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
  padding: 3px;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 140px;
  padding: 8px 50px 8px 40px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 208px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu a:hover {
  background-color: #f6f6f6;
}

.dd-button2 {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 8px 60px 8px 50px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button2:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 105px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

img {
  margin-top: 15px;
  align-self: center;
  max-width: 200px;
  min-width: 100px;
}
